black==24.10.0
fastapi[standard]==0.115.6
flake8==7.1.1
httpx==0.28.1
isort==5.13.2
mongomock==4.3.0
mypy==1.14.0
pre-commit==4.0.1
pydantic-settings==2.7.0
pymongo==4.10.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-faker==2.0.0
pytest-mock==3.14.0
testcontainers[mongodb]==4.9.0
